#footer{
    font-size: 16px;
    height: 80px;
    line-height: 80px;
    background-color: #f5f5f5;
}
#fix_down{
    position: fixed;
    bottom:0px;
}
#social{
    font-size: 20px;
    float: right;
}
#social a{
    color: #000000;
}
#social a:hover{
    color: #265a88;
}
#name{
    font-size:12;
    color: #2b669a;
}
