{% extends "base.html" %}
{% from "macro.html" import navbar with context %}
{% block title %}文章 {% endblock %}
{% block head %}
<link rel="stylesheet" href="http://7xjm5v.com1.z0.glb.clouddn.com/@/font-awesome-4.3.0/css/font-awesome.min.css">
{{ pagedown.html_head() }}
    {{ super() }}
    <style>
        {% include "snipple/footer.css" %}
    </style>
{% endblock %}
{% block nav %}
    {{ navbar() }}
{% endblock %}
{% block content %}
<div class='container' style="margin-top:10px;min-height:900px">
    <div id='content' style="width:700px;margin:20px auto;">
        <div class="head">
            <a href="{{ url_for('main.article', id=content.id)}}"><h2>{{ content.title }}</h2></a>
            <p id="time" style="margin-top:20px;margin-bottom:0;"><span class="glyphicon glyphicon-calendar"></span>
                <span style="color:#8C8C8C;">{{  content.pub_time.strftime('%Y %m %d') }}</span>
            </p>
        </div>
        <hr>
        <div>
            {{ content.body | safe }}
        </div>

        <!-- 多说评论框 start -->
        <div class="ds-thread" data-thread-key="{{ content.id }}" data-title="{{ content.title }}" data-url="url_for(main.artice)+'/'+{{ content.id }}"></div>
        <script type="text/javascript"  defer="defer">
            var duoshuoQuery = {
                short_name: "einvince"
            };
            (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';
                ds.async = true;
                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0] ||
                    document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
        </script>
    </div>
</div>
{% endblock %}



{% block footer %}
{% include "snipple/footer.html" %}
{% endblock %}
