<!doctype html>
<html>
    <head>
        {% block head %}
        <link rel="stylesheet" type="text/css" href="http://ok7l8yp8q.bkt.clouddn.com/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="http://ok7l8yp8q.bkt.clouddn.com/base.css">
        <link rel="shortcut icon" href="http://ok7l8yp8q.bkt.clouddn.com/favicon.ico">
        <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <!--nav-->
        <div id="nav">{% block nav %}{% endblock %}</div>
        <!--content-->
        <div id="flash">
        <div class="container">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert"><a href="/">&times;</a></button>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        </div>
        {% block content %}
        {% endblock %}
        {% block footer %}
        {% endblock %}

    </body>
</html>
