{% extends "base.html" %}
{% from "macro.html" import pagination_widget, navbar  with context %}
{% block title %}首页{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        {% include "snipple/footer.css" %}
    </style>
{{ pagedown.html_head() }}
{% endblock %}
{% block nav %}
    {{ navbar() }}
{% endblock %}
{% block content %}
    <div class='container' style="margin-top:10px;min-height:800px">
      <div class='col-md-2'></div>
        <div class='col-md-6'>
                {% for content in contents %}
                  <div id="content">
                      <a href="{{ url_for('main.article', id=content.id )}}"><h3>{{ content.title }}</h3></a>
                      <p id="time"><span class="glyphicon glyphicon-calendar"></span>
                          <span style="color:#8C8C8C;">{{  content.pub_time.strftime('%Y %m %d') }}</span>
                      </p>
                      {% if content.abstract %}
                      <div id="post-alert">{{ content.abstract }}</div>
                      {% endif %}
                      <div id="category">
                          <a href="/category/{{ content.category.tag }}"><span class="label label-default "><span class="glyphicon glyphicon-leaf"></span> {{ content.category.tag }}</span></a>
                          <a href="/article/{{ content.id }}" style="float:right"><button class="btn btn-info"><span class="glyphicon glyphicon-fireglyphicon "></span>  了解更多</button></a>
                      </div>
                  </div>
                {% endfor %}
            <div style="text-align: center">
                {{ pagination_widget(pagination, 'main.index') }}
            </div>
        </div>

        <div class='col-md-3' id="tag">
            {% for category in categorys %}
            <p>
                <li style="list-style-type:none;"><a href="{{ url_for('main.category',tag=category.tag) }}">>{{ category.tag }}<span class="badge text-right" style="float:right;background-color:#0DB8B1;">{{ category.count }}</span></a></li>
            </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block footer %}
{% include "snipple/footer.html" %}
{% endblock %}
